<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See in detail</title>

</head>
<body>
    <h3>Here is post in details</h3>
    <p>post id: <%= post.id %></p>
        <div style="background-color: lightpink; display:  inline-block; width: 300px; margin-left: 10px;text-align: center; flex-wrap: wrap; margin-bottom: 10px; border-radius: 10px; border: none;" >
            <h3>@<%= post.username %></h3>
            <h4><%= post.contenet %></h4>
    </div>
</body>
</html>